.me-auto {
    text-align: right;
    padding-right: 30px;
   
}

.header {
    background-color: brown;
    text-align: center;
    padding: 1px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }